@import url("global.css");
.sec11 {
  background-color: red;
  height: 30vh;
  width: 100%;
}
.sec12 {
  background-color: green;
  height: 30vh;
  width: 100%;
}
.sec13 {
  background-color: blue;
  height: 30vh;
  width: 100%;
}
.sec14 {
  background-color: violet;
  height: 30vh;
  width: 100%;
}